<!-- 
<video src="/assets/videos/video_groffe.mp4"></video>
<router-outlet></router-outlet> -->
<!-- preloader
    ================================================== -->
<div id="preloader">
  <div id="loader" class="dots-jump">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>


<!-- home
  ================================================== -->
<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="../assets/images/hero-bg.jpg"
  data-natural-width=3000 data-natural-height=2000 data-position-y=center>

  <div class="grid-overlay">
    <div></div>
  </div>

  <div class="home-content">

    <div class="row home-content__main">

      <h1>
        .NET Conf
      </h1>

      <h3>
       A prova real do BOT
      </h3>

      <div class="home-content__video">
        <a class="video-link" href="../assets/videos/video_groffe.mp4" data-lity>
          <span class="video-icon"></span>
          <span class="video-text">Assistir Video</span>
        </a>
      </div>

      <div class="home-content__button">
        <a href="#about" class="smoothscroll btn btn--primary btn--large">
          .NET SP
        </a>
        <a href="#contact" class="smoothscroll btn btn--large">
          2018
        </a>
      </div>
    </div> <!-- end home-content__main -->
  </div> <!-- end home-content -->